@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 207 64% 16%;
    --card: 0 0% 100%;
    --card-foreground: 207 64% 16%;
    --popover: 0 0% 100%;
    --popover-foreground: 207 64% 16%;
    --primary: 207 64% 16%;
    --primary-foreground: 0 0% 98%;
    --secondary: 210 7% 76%;
    --secondary-foreground: 207 64% 16%;
    --muted: 210 7% 90%;
    --muted-foreground: 0 0% 45.1%;
    --accent: 74 100% 36%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 210 7% 76%;
    --input: 210 7% 76%;
    --ring: 207 64% 16%;
    --chart-1: 74 100% 36%;
    --chart-2: 207 64% 16%;
    --chart-3: 210 7% 76%;
    --chart-4: 0 0% 18%;
    --chart-5: 74 80% 45%;
    --radius: 0.5rem;
  }

  .dark {
    --background: 0 0% 18%;
    --foreground: 0 0% 98%;
    --card: 0 0% 22%;
    --card-foreground: 0 0% 98%;
    --popover: 0 0% 18%;
    --popover-foreground: 0 0% 98%;
    --primary: 207 64% 35%;
    --primary-foreground: 0 0% 98%;
    --secondary: 0 0% 28%;
    --secondary-foreground: 0 0% 98%;
    --muted: 0 0% 28%;
    --muted-foreground: 210 7% 76%;
    --accent: 74 100% 36%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 0 0% 28%;
    --input: 0 0% 28%;
    --ring: 207 64% 50%;
    --chart-1: 74 100% 36%;
    --chart-2: 207 64% 35%;
    --chart-3: 210 7% 76%;
    --chart-4: 0 0% 28%;
    --chart-5: 74 80% 45%;
  }
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
  }
}